<h2>معرفی شعبه های بانکی</h2>

<!-- table grid 1-->
<nz-table nzBordered [nzPageSize]="10">
  <thead>
    <tr>
      <th colspan="1">سریال بانک</th>
      <th colspan="1">نام بانک</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <!-- <tr>
      <td >45</td>
      <td >بستن حساب های موقت</td>
    </tr> -->
  </tbody>
</nz-table>
<hr style="border: 1px solid BLACK" />
<!-- table grid 2-->
<nz-table nzBordered [nzPageSize]="10">
  <thead>
    <tr>
      <th colspan="1">سریال شعبه</th>
      <th colspan="1">نام شعبه</th>
      <th colspan="1">کد شعبه</th>
      <th colspan="1">آدرس شعبه</th>
      <th colspan="1">وضعیت</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <!-- <tr>
      <td ></td>
     <td ></td>
     <td ></td>
     <td ></td>
     <td ></td>
    </tr> -->
  </tbody>
</nz-table>
