<h2>ساختار سند حساب داری</h2>
<nz-select style="width: 100%; padding-bottom: 10px" nzPlaceHolder="">
  <nz-option nzLabel="بستن حساب های موقت" nzValue="45"></nz-option>
  <nz-option nzLabel="سند اختتامیه" nzValue="46"></nz-option>
</nz-select>
<!-- table grid 1-->
<nz-table nzBordered [nzPageSize]="10">
  <thead>
    <tr>
      <th colspan="1">علت صدور</th>
      <th colspan="1">شرح علت صدور</th>
      <th colspan="1">نوع معین</th>
      <th colspan="1">کد معین</th>
      <th colspan="1">نوع تفصیلی</th>
      <th colspan="1">کد تفصیلی</th>
      <th colspan="1">نوع طرف تفصیلی</th>
      <th colspan="1">کد طرف تفصیلی</th>
      <th colspan="1">ماهیت مبلغ</th>
      <th colspan="1">منشا مبلغ</th>
      <th colspan="1">اولویت</th>
      <th colspan="1">قابلیت پرداخت</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr>
      <td>401</td>
      <td>کارگر عادی</td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرسنل">
          <nz-option nzValue="پرسنل" nzLabel="پرسنل"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرداخت">
          <nz-option nzValue="پرداخت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="حکم">
          <nz-option nzValue="حکم" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td>1</td>
      <td>...</td>
    </tr>
    <!-- 2 -->
    <tr>
      <td>412</td>
      <td>حق جذب</td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرسنل">
          <nz-option nzValue="پرسنل" nzLabel="پرسنل"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرداخت">
          <nz-option nzValue="پرداخت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>

      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="حکم">
          <nz-option nzValue="حکم" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td>2</td>
      <td>...</td>
    </tr>
    <!-- 3 -->
    <tr>
      <td>402</td>
      <td>ایاب ذهاب</td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرسنل">
          <nz-option nzValue="پرسنل" nzLabel="پرسنل"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="ثابت">
          <nz-option nzValue="ثابت" nzLabel="ثابت"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td></td>
      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="پرداخت">
          <nz-option nzValue="پرداخت" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>

      <td>
        <nz-select style="width: 100px;" nzAllowClear nzPlaceHolder="حکم">
          <nz-option nzValue="حکم" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
        </nz-select>
      </td>
      <td>2</td>
      <td>...</td>
    </tr>
  </tbody>
</nz-table>
<hr style="border: 1px solid BLACK" />

<form class="col-24" nz-form [formGroup]="bottomForm" role="form">
  <!-- row 1 -->
  <div nz-row [nzGutter]="5">
    <!-- 1 -->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="helper_description">شرح معین </nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-input-group>
            <input nz-input formControlName="helper_description" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 2 -->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="detailed_description">شرح تفضیل</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-input-group>
            <input nz-input formControlName="detailed_description" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 3-->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="detailed_side_description">شرح طرف تفضیل</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <nz-input-group>
            <input nz-input formControlName="detailed_side_description" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <!-- row 2-->
  <div nz-row [nzGutter]="4">
    <!-- 1 -->
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzRequired nzFor="from_datetime">از تاریخ</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <nz-input-group>
            <nz-date-picker formControlName="from_datetime"></nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 2 -->
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzRequired nzFor="to_datetime">تا تاریخ</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <nz-input-group>
            <nz-date-picker formControlName="to_datetime"></nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 3 -->
    <div nz-col nzSpan="5">
      <button nz-button nzType="primary" (click)="submit()">مشخصات حقوق دست مزد</button>
    </div>
  </div>
</form>
